<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
   <link rel="stylesheet" href="/css/cookies.css">
   <script async src="https://just-comments.com/w2.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   <script>
    console.log(document.cookie)
    const consentBox = 
    document.getElementById("consentBox"); 
    let checkCookie = 
    document.cookie.indexOf("CookieBy=HadiaHameed"); 
    checkCookie !== -1 ? consentBox.style.display = "block" : 
    consentBox.style.display = "none";
    console.log(checkCookie)
    // Define dataLayer and the gtag function.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    
    // Set default consent to 'denied' as a placeholder
    // Determine actual values based on your own requirements
    gtag('consent', 'default', {
      'ad_storage': 'denied',
      'ad_user_data': 'denied',
      'ad_personalization': 'denied',
      'analytics_storage': 'denied'
    });
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ESWZTVEVMH">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
    
      gtag('js', new Date());
      gtag('config', 'G-ESWZTVEVMH');
    </script>
    
    <!-- Create one update function for each consent parameter -->
    <script>
      function consentGrantedAdStorage() {
        const consentBox = 
        document.getElementById("consentBox"); 
        
        document.cookie = "CookieBy=HadiaHameed; max-age="
        + 60 * 60 * 24;
        gtag('consent', 'update', {
        'ad_storage': 'granted'
      });
        consentBox.style.display = "none";
    }

      function consentRejectedAdStorage() {
        rejectBtn.onclick = () => { 
        consentBox.style.display = "none";
      }; 
    }

    </script>

   <meta charset="UTF-8">
   {% seo %}
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="theme-color" content="#157878">
   <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
   <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
   <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
      <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      <a href="/" class="btn">Home</a>
      <a href="/blog" class="btn">Blog</a>
      <a href="/portfolio" class="btn">Projects</a>
      <a href="/coding-tips" class="btn">Coding Tips</a>
      <h1>
         <a href='{{ site.social_links.linkedin }}' target="_blank">
            <ion-icon name="logo-linkedin" color="light"></ion-icon>
            </i>
         </a>
         <a href='{{ site.social_links.gmail }}' target="_blank">
            <ion-icon name="mail" color="light"></ion-icon>
            </i>
         </a>
         <a href='{{ site.social_links.github }}' target="_blank">
            <ion-icon name="logo-github" color="light"></ion-icon>
            </i>
         </a>
         <a href='{{ site.social_links.tableau }}' target="_blank">
            <ion-icon name="desktop" color="light"></ion-icon>
            </i>
         </a>
      </h1>
   </header>
   <div id = "consentBox" class="cookie-consent-banner">
      <div id="consentContent" class="cookie-consent-banner__inner">
        <div class="cookie-consent-banner__copy">
          <div id="consentHeader" class="cookie-consent-banner__header">THIS WEBSITE USES COOKIES</div>
          <div class="cookie-consent-banner__description">We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services. You consent to our cookies if you continue to use our website.</div>
        </div>
    
        <div class="cookie-consent-banner__actions">
          <button onclick="consentGrantedAdStorage()" id="acceptbutton" class="cookie-consent-banner__cta">
            OK
          </button>
        </button> 
          
          <button onclick="consentRejectedAdStorage()" id="rejectbutton" class="cookie-consent-banner__cta cookie-consent-banner__cta--secondary">
            Decline
          </button> 
        </div>
      </div>
    </div>
    
   <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
         <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
   </main>
   <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>
