---
layout: default
---
<div id="fb-root"></div>
   <script>(function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=464726437708767";
   fjs.parentNode.insertBefore(js, fjs);
   }(document, "script", "facebook-jssdk"));</script>
<article class="project">
  <h1 class="project-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date: "%A, %m/%d/%Y" }}" class="project-date">{{ page.date | date: "%A, %m/%d/%Y" }}</time>
  {{ content }}
  {% include share-bar.html %}
  
    <!-- START OF RELEVANT PART -->
  <div>
    <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}"></div>
</div>
  <!-- END OF RELEVANT PART -->
</article>
